 <div class="container">
    <nav>
    <div class="navbar">
        <a href="/" class="header-brand">LeagueOL101</a>
        <ul>
     <li><a href="/dev">Back</a><img src="./static/back.png"></li>
        </ul>
    </div>
    </nav>
    </div>

    <div class="container">
    <div class="champion-title">
        <h1>Champion Title + Class Icon</h1>
    </div>
    <div class="section-container">
    <div class="item-container">
    <div class="items"></div>
    </div>
    <div class="a-b-container">
        <div class="abilities"></div>
        <div class="counters"></div>
    </div>
    <div class="splash-art"></div>
    <div class="skins"></div>
    </div>
    </div>
    </div>
   <h1>{{ this.name }}</h1>
<h2>Title: {{ this.title }}</h1>
<h1>Difficulty: {{ this.difficulty }}</h1>
<img src="{{ this.icon }}">
<h3>Lore: {{ this.lore }}</h1>
{{#each tags }}
    <h3>Class: {{ this }}</h3>
{{/each}}
{{#each tips.playingAs }}
    <h3>Playing As: {{ this }}</h3>
{{/each}}
{{#each tips.playingAgainst }}
    <h3>Playing Against: {{ this }}</h3>
{{/each}}
{{#each skins }}
    <h3>{{ skin_name }}</h3>
    <img src="{{ splash_url }}">
    <img src="{{ loadingScreen_url   }}">
{{/each}}
