<div class="container">
    <nav>
    <div class="navbar">
        <a href="/" class="header-brand">LeagueOL101</a>
        <ul>
     <li><a href="/champions">Back</a><img src="/static/back.png"></li>
        </ul>
    </div>
    </nav>
    </div>

    <div class="container">
    <div class="champion-title">
        <h1>{{ champion.name }}</h1>
    </div>
    </div>
    <div class="container1">
    <div class="section-container">
    <div class="ability-container">
    <div class="abilities">
        {{#each champion.abilities }}
        <div class="tooltip">
        <img src="{{ icon }}">
         <div class="top">
        <h2>{{ name }}</h2>
        <h3>Cooldown Per Level: {{ cooldownString }}</h3>
        <p><strong>Description:</strong> {{ description }}</p>
        <i></i>
        </div>
        </div>
        {{/each}}
    </div>
    </div>
    <div class="a-b-container">
    <div class="tabContainer">
    <div class="buttonContainer">
        <button onclick="showPanel(0,'#3C484D')">Info</button>
        <button onclick="showPanel(1, '#3C484D')">Lore</button>
        <button onclick="showPanel(2,'#3C484D')">Items</button>
    </div>
    <div class="tabPanel">
    <div class="dif">
    <h3>Difficulty: {{ champion.difficulty }}</h3>
    {{#each champion.tags }}
    <h4>Class: {{ this }}</h4>
    {{/each}}
    </div>
    <div class="play-as">
    <h3><strong>Playing As:</strong></h3>
    {{#each champion.tips.playingAs }}
     <p>{{ this }}</p>
    {{/each}}
    </div>
    <div class="play-as">
    <h3><strong>Playing Against:</strong></h3>
    {{#each champion.tips.playingAgainst }}
    <p>{{ this }}</p>
    {{/each}}
    </div>
    </div>
    <div class="tabPanel">
    <div class="lore">
    <h3>{{ champion.lore }}</h3>
    </div>
    </div>
    <div class="tabPanel">
    <div class="items">
    {{#each champion.recommended.[0] }}
    {{#if this.jg_exists}}
    {{else}}
    {{/if}}
    {{#each this.items }}
         <div class="tooltip2">
        <img src="{{ info.icon }}">
        <div class="top2">
        <h3>Item name: {{ info.name }}</h3>
        <h3>Item description: {{ info.description }}</h3>
        <h3>Mini tip: {{ info.text }}</h3>
        <h3>Total cost: {{ info.totalGold }}</h3> 
        </div>
        </div>
    {{/each}}
{{/each}}</div>
</div>
</div>  
    </div>
    <div class="splash-art"> 
        <div class="splash">
     {{#each champion.skins }}
        {{#if @first}}
   {{!-- <h3>{{ skin_name }}</h3> --}}
    <img src="{{ splash_url }}">
    {{/if}}
    {{/each}}
    
    <div class="name-tag">
        <h1>{{ champion.title }}</h1>
            </div>
            </div>
    </div>  
        
    </div>
    </div>
    {{!-- <div id="owl-demo" class="owl-carousel">
    {{#each champion.skins }}
    {{#if @first}}
    {{ else }}
    <img src="{{ loadingScreen_url   }}">

    </div>
    </div>
    {{/if}}
    {{/each}} --}}
    
    </div>
    </div>
   
    </div>


{{!-- Skin names SplashArts LoadingScreen
{{#each champion.skins }}
    <h3>{{ skin_name }}</h3>
    <img src="{{ splash_url }}">
    <img src="{{ loadingScreen_url   }}">
{{/each}} --}}

<script>
var tabButtons=document.querySelectorAll(".tabContainer .buttonContainer button");
var tabPanels=document.querySelectorAll(".tabContainer  .tabPanel");
function showPanel(panelIndex,colorCode) {
    tabButtons.forEach(function(node){
        node.style.backgroundColor="";
        node.style.color="";
    });
    tabButtons[panelIndex].style.backgroundColor=colorCode;
    tabButtons[panelIndex].style.color="white";
    tabPanels.forEach(function(node){
        node.style.display="none";
    });
    tabPanels[panelIndex].style.display="block";
    tabPanels[panelIndex].style.backgroundColor=colorCode;
}
showPanel(0,'#3C484D');


$(document).ready(function() {
 
  $("#owl-demo").owlCarousel({
    jsonPath : 'json/customData.json',
    jsonSuccess : customDataSuccess
  });
 
  function customDataSuccess(data){
    var content = "";
    for(var i in data["champion.skins"]){
       
       var img = data["champion.skins"][i].img;
       var alt = data["champion.skins"][i].alt;
 
       content += "<img src=\"" +img+ "\" alt=\"" +alt+ "\">"
    }
    $("#owl-demo").html(content);
  }
 
});
</script>


