<style>
    body {
        background-color: #3C484D;
    }
    .search {
        width: 100%;
        position: relative;
        display: flex;
    }

    .searchTerm {
        width: 100%;
        border: 3px solid #D0A85D;
        border-right: none;
        padding: 5px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #D0A85D;
    }

    .searchTerm:focus{
        color: #D0A85D;   
    }

    .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #D0A85D;
        background: #D0A85D;
        text-align: center;
        color: #3C484D;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    /*Resize the wrap to see the search bar change!*/
    .wrap{
        width: 15%;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    form {
        width: 500px;
        height: 36px;
        display: contents;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #D0A85D;
    }
</style>

<div class="wrap">
   <div class="search">
        <form method="GET" >
            <input type="text" class="searchTerm" placeholder="Summoner name..." name="query">
            {{!-- <select name="region">
                <option name='NA' value='na'</option>
                <option name='EUW' value='euw'</option>
                <option name='KR' value='kr'</option>
                <option name='OCE' value='oce'</option>
                <option name='JP' value='jp'</option>
                <option name='LAS' value='las'</option>
                <option name='RU' value='ru'</option>
                <option name='TR' value='tr'</option>
                <option name='LAN' value='lan'</option>
                <option name='BR' value='br'</option>
            </select> --}}
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </form>
   </div>
</div>

<h1>Summoner name: {{ rank.summonerName }}</h1>
<img src="{{rank.icon}}">
<img src="{{rank.levelBorder}}">
<h3>Level: {{ rank.lvl }}</h3>
{{#if rank.soloDuo.tier}}
<h3>Solo Duo</h3>
<h3>Rank: {{ rank.soloDuo.rank }}</h3>
<h3>Tier: {{ rank.soloDuo.tier }}</h3>
<h3>Current LP: {{ rank.soloDuo.lp }}</h3>
<h3>Winrate: {{ rank.soloDuo.winrate }}</h3>
<h3>Wins: {{ rank.soloDuo.wins }}</h3>
<h3>Losses: {{ rank.soloDuo.losses }}</h3>
{{/if}}
{{#if rank.flex.tier}}
<h3>Ranked Flex</h3>
<h3>Rank: {{ rank.flex.rank }}</h3>
<h3>Tier: {{ rank.flex.tier }}</h3>
<h3>Current LP: {{ rank.flex.lp }}</h3>
<h3>Winrate: {{ rank.flex.winrate }}</h3>
<h3>Wins: {{ rank.flex.wins }}</h3>
<h3>Losses: {{ rank.flex.losses }}</h3>
{{/if}}



