<form method="GET" >
    <input type="text" placeholder="Search.." name="query">
    <input type="submit" /> 
</form>
{{ rank.lvl }}
{{ rank.summonerName }}
{{ rank.soloDuo.rank }}
{{ rank.soloDuo.tier }}
{{ rank.soloDuo.lp }}
{{ rank.soloDuo.winrate }}

